@media screen and (min-width: 769px) {
	.burgerM {
	  display: none !important;
	  /* visibility: hidden; */
	}
  }


/* Burger button */
.burgerM {
	display: flex;
}

.burgerItem {
	font-size: 20px;
    font-weight: 200 !important;
}

#menuToggle
{
    top: 20px;
    right: 20px;
    z-index: 2;
    display: block;
	text-align: center;
	/* size BURGER */
    font-size: 35px;
    color: #fff;
	padding: 4px;
	padding-left: 15px;
	padding-right: 15px;
    cursor: pointer;
    position: fixed;
    background: rgb(5, 9, 14);;
}
#menuToggle:hover
{ 
	background: #1ecd97;
}
/* Burger button End */

/* Burger window */
#burgerOverlay{   
	WIDTH: 100%;
    HEIGHT: 100%;
    POSITION: FIXED;
    Z-INDEX: 999;
    TOP: 0PX;
	DISPLAY:NONE;
	background:#3f3d3e5c;
	cursor:pointer;
}
#burger ul li a:hover, #burger ul li a.active
{
    background: #1ecd97;
}
#burger ul li i
{
	font-size:16pt;
}
#burger{
	display:none;
	position: fixed;
    right: -300px;
    top: 0;
    height: 100%;
    background: rgb(5, 9, 14);
    z-index: 1000;
    max-width: 262px;
	width: 100%;
	/* height: 300px; */
	overflow:auto;
}
#burger ul li a{ 
    color: #fff;
    display: block;
    text-decoration: none !important;
    font-size: 16pt;
	padding: 5px 25px 5px 25px;
}

#burger ul {
	margin-top: 60px;
    list-style: none;
    padding: 0;
}


.close-popup:hover{opacity:1;}
.close-popup{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	opacity:0.5;
}
.close-popup:before{
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 25px;
	top: 18px;
	right: 0px;
	transform: rotate(-45deg);
}
.close-popup:after{
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px; 
	width: 25px;
	top: 18px;
	transform: rotate(45deg);
	right: 0px;
}#burger .close-popup:before {
	content: '';
	background-color: #fff !important;
}#burger  .close-popup:after{
	content: '';
	background-color: #fff !important;
}
/* Burger window end */
