button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ecd97;
  color: #323232;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #1ecd97;
}
button:active {
  letter-spacing: 2px; 
}
button:after {
  content: "WYŚLIJ";
}
.onclic {
  width: 40px;
  border-color: #bbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ecd97;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ecd97;
  background: white;
}
.validate {
  font-size: 13px;
  color: white;
  background: #1ecd97;
}
.validate:after {
  font-family: "FontAwesome";
  content: "\f00c";
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
