* {
  list-style: none;
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
}

.mainBody {
  /* background-color: rgb(10, 20, 29); */
  background-color: rgb(5, 9, 14);
  color: rgb(235, 235, 235);
  font-family: "Roboto", sans-serif;
}

#main {
  background-color: rgb(5, 9, 14);
  /* margin-bottom: 500px;f */
}

a {
  color: rgb(235, 235, 235) !important;
}

/* kropki wokol linkow */
a:focus {
  outline: none !important;
}
/* @ M E D I A */
@media screen and (max-width: 768px) {
  .navMenu {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .resDev {
    display: flex; 
    align-content: center; 
    align-items: center; 
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .copyright {
    visibility: hidden;
  }
}

@media screen and (min-height: 2000px) {
  .subscribeUs {
    visibility: hidden;
  }
}

@media screen and (max-width: 9999px) {
  .visitCard {
    width: 650px;
  }
}

@media screen and (max-width: 768px) {
  .visitCard {
    width: 500px;
    max-height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .visitCard {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .visitCard {
    width: 300px;
  }
}

@media screen and (min-width: 500px) {
  .Contact {
    margin-bottom: 100px !important;
    margin-top: 50px !important;
  }
}
@media screen and (max-width: 767px) {
  .videoIosInside {
    padding: 25px;
  }
}

@media screen and (max-width: 540px) {
  .backImgPwa, .backFonPwa {
    display: none !important;
  }
}

@media screen and (min-width: 541px) {
  .backImgPwaSmall {
    display: none !important;
  }
}
@media screen and (min-width: 541px) {
  .backTextPwaSmall {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1024px) {
  .backImgPwa, .backFonPwa {
    height: 400px !important;
  }
}

@media screen and (min-width: 961px) {
  .backImgPwa, .backFonPwa {
    height: 50vh !important;
  }
}

@media screen and (min-width: 1024px) {
  .backImgPwa, .backFonPwa {
    height: 400px !important;
  }
}

@media screen and (min-width: 1200px) {
  .backImgPwa, .backFonPwa {
    height: 70vh !important;
  }
}

@media screen and (max-width: 768px) {
  .backImgPwa, .backFonPwa {
    margin-bottom: 50px !important;
    height: 40vh !important;
  }
}

/* @media screen and (max-width: 960px) {
  .backTextPwa {
    font-size: 20px !important;
  }
} */

@media screen and (max-width: 1024px) {
  .backTextPwa {
    font-size: 20px !important;
  }
}

/* @ M E D I A */

.header {
  display: flex;
  position: fixed;
  z-index: 555;
  width: 100%;
  background-color: rgba(5, 9, 14, 0.8);
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  cursor: pointer;
}

.strix {
  font-family: "Orbitron", sans-serif;
  /* font-weight: 900; */
  font-size: 50px;
  cursor: pointer;
}

.navMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;

  margin-top: 40px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.navMenu li {
  /* padding-right: 35px; */
  font-size: 20px;
  font-weight: 200 !important;
}

/* new buttom */
.navButton {
  padding: 10px;
  /* border: 1px solid rgb(0, 221, 184); */
}

.titleFirm {
  font-size: 55px;
  font-weight: 300;
  color: #1ecd97;
  margin-top: 40px; 
  margin-bottom: 40px; 
}

.Contact {
  font-size: 55px;
  font-weight: 300;
  color: #1ecd97;
  margin-top: 40px; 
  margin-bottom: 40px; 
}

.aboutFirmTea {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  overflow: hidden;
  padding: 2px;
}

.itemTea {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  font-size: 20px;
  font-weight: 100;
  min-width: 300px;
  /* border: 1px solid greenyellow; */
}

.imgTea {
  display: flex;
	justify-content: center;
  align-items: center;
}

.imgTeaInside {
  border-radius: 20px;
}

.contentFirm {
  margin-bottom: 5px;
}

.itemCoffee {
  margin-top: 30px;
}

.contenFirmPart2 {
  margin-bottom: 80px;
}

.sliderOut {
  margin-bottom: 50px;
}

.sectionOffer {
  margin-bottom: 100px;
}

.offerOut {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  text-align: center;

  /* border: 1px solid red; */
}

.offer {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

  margin-bottom: 50px;
  max-width: 900px !important;
  /* border: 1px solid rebeccapurple; */
}

.offerTitile {
  margin: 20px;
font-weight: 200;
}

.itemOffer {
  border-radius: 35px;
  padding: 10px;
  margin: 20px;
  background-color: rgba(0, 204, 255, 0.623);
  font-size: 20px;
}

.visitCard {
  border: 2px solid rgb(0, 255, 149);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 157, 0.5);
}

.of {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.backImgPwa {
  display: flex;
  background: url('../img/pwa/progresive.png');
  background-size: cover;
  width: 100%;
  height: 70vh;
  padding: 0 !important;
  border-radius: 275px;
  margin-bottom: 100px;
}

.backFonPwa {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 100%;
  height: 70vh;
  background-color: rgba(24, 49, 88, 0.842);
  margin: 0;
  padding: 0 !important;
  border-radius: 275px;
}

.backTextPwa {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  text-align: center;
  
  padding: 45px;
  border-radius: 205px;
  width: 100%;
  font-size: 25px;
  font-weight: 100;
  color: #fffffff3;
}

.backImgPwaSmall {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: center;
  
  background: url('../img/pwa/progresiveSmall.png');
  background-size: cover;
  overflow: hidden !important;
  width: 100%;
  border-radius: 50px;
  padding: 0 !important;
}

.backFonPwaSmall {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 100%;
  background-color: rgba(24, 49, 88, 0.842);
  border-radius: 50px;
  padding: 0 !important;
}

.backTextPwaSmall {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  text-align: center;
  
  padding: 25px;
  border-radius: 205px;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  color: #fffffff3;
}

.weather {
  display: flex; 
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  border: 1px solid red;
}

.videoIos {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

  /* overflow: hidden; */
}

.videoIosInside video {
  border: 2px solid rgb(0, 255, 149);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 157, 0.5);
}

/* Content */

.textTyping {
    width: 40em;
    color: white;
    font-size: 22px;
    font-size: 50px;
    font-family: 'Marck Script', cursive;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}
 
@-webkit-keyframes type{
    from { width: 0; }
}

.infContact {
  font-weight: 100;
}

.mailContact {
  margin-bottom: 30px;
}

.weightContact {
  font-weight: 200;
}

.weightItem {
  font-weight: 100;
}

/* FOOTER */
.infoFooter {
  margin-top: 20px;
  margin-bottom: 80px;
}

.Info2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.inputContact {
  border-radius: 20px;
  border: 1px solid #1ecd97;
  background-color: rgba(250, 255, 250, 0.1);
  color: white;
  height: 35px;
  font-weight: 100;
}

.inputContact {
  text-indent: 10px;
}

.inputContact:active, .inputContact:focus {
  outline: none !important;
}

.inputContact::-moz-focus-inner {
  border: 0 !important;
}

.imgContact {
  width: 25px;
  margin-right: 15px;
}

.contact-p {
  display: inline;
}

#top {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  border: none;
}

.subscribeUs {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  width: 100% !important;

  /* position: fixed; */
  bottom: 0px;
  z-index: 99;
  /* background-color: rgba(5, 9, 14, 0.9);   */
  /* border: 1px solid royalblue; */
  /* border: 1px solid burlywood; */
}

.iconButton {
  /* border: 1px solid yellow;  */
  padding: 5px;
  display: block;
  width: 50px;
  height: 50px;
}

.facebook {
  background: url(../img/icon/facebook-white.png);
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.facebook:hover {
  background: url(../img/icon/facebook.png);
  background-size: cover;
}

.instagram {
  background: url(../img/icon/instagram-white.png);
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.instagram:hover {
  background: url(../img/icon/instagram.png);
  background-size: cover;
  overflow: hidden;
}

.telegram {
  background: url(../img/icon/telegram-white.png);
  background-size: cover;
  transition: 0.1s ease-in-out;
}

.telegram:hover {
  background: url(../img/icon/telegram.png);
  background-size: cover;
}

.copyright {
  display: flex; 
  align-content: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  font-size: 11px;
}

/* typing JS */

.wrapper {
  overflow: hidden;
  font-size: 20px;
  font-weight: 100;
}

.wr2, .wr3, .wr4, .wr5 {
  overflow: hidden;
  font-size: 20px;
  font-weight: 100;
}

.wave {
  color: #a8a0aae7;
  -webkit-animation: 0.5s color infinite;
          animation: 0.5s color infinite;
}

@-webkit-keyframes color {
  50% {
    color: #60a384dc;
  }
}

@keyframes color {
  50% {
    color: #60a384dc;
  }
}



