body {
    background: url(marzena.png) no-repeat;
    font-family: roboto;
    letter-spacing: 5px;
}
.span {
    padding-left: 230px;
}
.blog {
    margin-left: 30px;
    margin-top: 80px;
    width: 1000px; 
    background-color: rgb(190, 0, 111);
    height: 50px;
    color: white;
    border: 3px solid rgba(127, 0, 144, 0.692);
    margin-block: 100px;
    z-index: 100;
    font-size: 40px;
}
h1 {
    font-size: 70px;
}

.q {
    
}
.red {
    box-sizing: border-box; 
    width: 500px; 
    height: 50px;
    background-color: rebeccapurple;
}