body {
    background: url(fast_car.jpg) no-repeat;
    color: rgba(255, 255, 255, 0.719);
}
* {
    list-style: none;
    text-decoration: none !important;
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Orbitron', sans-serif;
  }

.cyt {
    font-family: 'Marck Script', cursive;
    margin-top: 120px;
    margin-left: 175px;
}

.center {
   font-size: 14px;
}

.cl {
    margin-top: 80px;
    margin-left: 20px;
}

.aut {
    margin-left: 32px;
    letter-spacing: 15px;
    color: rgba(255, 0, 0, 0.418);
    /* font-family: "Roboto", sans-serif !important; */
    font-size: 18px;

}

.img {
    margin-top: 180px;
}